@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@200;300;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

$bg1: #030303;
$text1: #FFFFFF;
$red1: #A91629;
$bg2: #25262A;
$footer: #D9D9D9;

#hidden {
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-out;
}

#visible {
    opacity: 1;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $bg1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $red1;
    transition: .6s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    transition: .6s ease-in-out;
    background-color: $red1;
}

.loading {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: $bg2;
}

.ring {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-family: sans-serif;
    font-size: 20px;
    color: #fff000;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-shadow: 0 0 10px #fff000;
    box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.ring:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-top: 3px solid #fff000;
    border-right: 3px solid #fff000;
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.loadSpan {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.loadSpan:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff000;
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px #fff000;
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg1;
    position: fixed;
    top: 0;
    padding: 20px;
    width: 100%;
    z-index: 999;
}

.brand-title {
    a {
        color: $text1;
        text-decoration: none;
        font-size: 30px;
        margin-left: 20px;
    }
}

.brand-title a {
    transition: .3s ease-in-out;
}


.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    margin-right: 50px;
}

.navbar-links li {
    margin: 0 10px;
    list-style: none;
    transition: .3s ease-in-out;
    font-size: 1.2rem;
}

.navbar-links li a {
    text-decoration: none;
    color: $text1;
    padding: 1rem;
    display: block;
    font-size: 15px;
    transition: .2s ease-in-out;
}

.navbar-links li a {
    text-decoration: none;
    position: relative;
}

.navbar-links li a:after {
    position: absolute;
    content: '';
    height: 2px;
    bottom: 10px;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 0%;
    background: $bg1(0, 0, 0);
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
}

.navbar-links li a:hover:after {
    width: 60%;
    background: $red1;
}

.navbar-links li a:hover {
    color: $red1;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-right: 50px;
    margin-top: 15px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: $text1;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {

    html,
    body {
        overflow-x: hidden;
    }

    .toggle-button {
        display: flex;
    }

    .toggle-button:hover {
        cursor: pointer;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

}

// Home Section
#home-section {
    min-height: 100vh;
    background-color: $bg2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    #hero-image {}

    #hero-content {
        color: $text1;
        font-size: 2em;
        // width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;

        span {
            color: $red1;
        }
    }
}

@media only screen and (max-width: 768px) {
    #home-section {
        padding: 20px;
    }

    #home-section #hero-content {
        font-size: 1.3em;
    }
}

// About section

#about-section {
    min-height: 100vh;
    background: $bg1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;

    #about-image {
        max-width: 30%;

        img {
            width: 400px;
        }
    }

    #about-content {
        max-width: 30%;
        color: $text1;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;

        #about-header {
            color: $red1;
            font-size: 2em;
        }

        #about-title {
            font-size: 3em;
            position: relative;
        }

        #about-title:after {
            position: absolute;
            content: '';
            height: 4px;
            bottom: 5px;
            margin: 0 auto;
            left: 0;
            right: 0;
            width: 100%;
            border-radius: 5px;
            background: $red1;
        }

        #about-para {
            line-height: 2em;
        }

        #resume-link {
            background-color: $text1;
            text-decoration: none;
            color: $bg1;
            border-radius: 50px 25px;
            padding: 5px 15px;
            transition: .5s ease-in-out;
            margin-top: 1em;

            &:hover {
                background-color: $red1;
                color: $text1;
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    #about-section {
        flex-direction: column;
        padding-bottom: 50px;

        #about-image {
            padding: 40px 20px;
            max-width: 100%;
            max-height: 30%;

            img {
                width: 300px;
            }
        }

        #about-content {
            max-width: 80%;
            ;
        }
    }
}

// Projects Section
#project-section {
    min-height: 100vh;
    background-color: $bg2;
    padding: 50px;

    #section-title {
        text-align: center;
        font-size: 3em;
        color: $text1;

        span {
            color: $red1;
        }
    }

    #project-card-section {
        min-height: 100vh;
        max-width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .project-card {
            width: 30%;

            .card-img {
                img {
                    width: 100%;
                    border-radius: 20px;
                }
            }

            .card-title {
                color: $text1;
                font-size: 0.5em;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    #project-section #section-title {
        margin-bottom: 20px;
    }

    #project-section #project-card-section {
        display: block;

        .project-card {
            width: 100%;
            margin: 0 0 60px 0;

            .card-title {
                font-size: 1em;

                h2 {
                    font-weight: 300;
                    font-size: 1.2em;
                }
            }
        }
    }
}

// contact section
#contact-section {
    min-height: 70vh;
    background-color: $bg1;
    padding: 50px;
    position: relative;

    #contact-title {
        color: $text1;
        font-size: 2em;

        span {
            color: $red1;
        }
    }

    #form-container {
        height: 100%;
        margin-top: 10px;

        form {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            gap: 20px;

            input[type="text"],
            input[type="email"] {
                border: 2px solid $red1;
                padding: 10px 30px;
                background-color: transparent;
                color: $text1;
                width: 50%;
                height: 80px;
                font-size: 1.3em;
            }

            #btn-container {
                input[type="submit"] {
                    border: 2px solid $text1;
                    background: $text1;
                    color: $bg1;
                    margin-left: auto;
                    height: 50px;
                    padding: 10px 30px;
                    border: none;
                    transition: 0.5s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        background-color: $red1;
                        color: $text1;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    #contact-section {
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        min-height: 60vh;

        #form-container {
            width: 80%;
            margin-top: 20%;

            form {
                width: 100%;

                input[type="text"],
                input[type="email"] {
                    padding: 0 10px;
                    width: 100%;
                }

                #btn-container {
                    input[type="submit"] {}
                }
            }
        }
    }
}

// footer section

#footer-section {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: $footer ;
    width: 90%;
    padding: 30px 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;

    ul {
        width: 30%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        li {
            list-style: none;
            display: inline-block;

            a {
                text-decoration: none;
                color: $bg1;
                padding: 5px;
            }
        }
    }
}

@media only screen and (max-width: 1000px) {
    #footer-section {
        ul {
            width: 60%;
        }
    }
}